altgraph==0.17.3
ansicon==1.89.0
asttokens==2.4.0
auto-py-to-exe==2.38.0
backcall==0.2.0
blessed==1.20.0
bottle==0.12.25
bottle-websocket==0.2.9
bpython==0.24
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
curtsies==0.4.2
cwcwidth==0.1.8
decorator==5.1.1
Eel==0.16.0
et-xmlfile==1.1.0
executing==1.2.0
future==0.18.3
gevent==23.9.0.post1
gevent-websocket==0.10.1
greenlet==2.0.2
idna==3.4
ipython==8.15.0
jedi==0.19.0
jinxed==1.2.0
matplotlib-inline==0.1.6
numpy==1.25.2
openpyxl==3.1.2
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
prompt-toolkit==3.0.39
pure-eval==0.2.2
pycparser==2.21
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pyparsing==3.1.1
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.2
pyxdg==0.28
requests==2.31.0
six==1.16.0
stack-data==0.6.2
traitlets==5.9.0
tzdata==2023.3
urllib3==2.0.4
wcwidth==0.2.6
whichcraft==0.6.1
xlrd==2.0.1
xmltodict==0.13.0
zope.event==5.0
zope.interface==6.0
